# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\DELL\Documents\quynhanh\1_FPTTERMS\2_SUMMER2020\CSD201\Dictionary_TreeSet\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
